<footer class="py-4" id="footer">
    <div class="row justify-content-center mb-4 mx-auto">
        <img src="/media/Logo_white_transperent_web.png" class="rounded d-block" id="footer-logo" alt="">
    </div>
    <div class="row justify-content-center mb-4">
        <div class="col-1 text-center" id="icons">
            <a href="https://www.youtube.com/channel/UCeYV8jb2BKs9Q2h0EmWXLBw">
                <i class="fab fa-youtube align-items-center"></i>
            </a>
        </div>
        <div class="col-1 text-center" id="icons">
            <a href="https://www.facebook.com/damagepersecondofficial/">
                <i class="fab fa-facebook-square align-items-center"></i>
            </a>
        </div>
        <div class="col-1 text-center" id="icons">
            <a href="https://www.instagram.com/dps_berlin/">
                <i class="fab fa-instagram align-items-center"></i>
            </a>
        </div>
    </div>
    <div class="text-center text-white">
        <b>&copy 2021 Damage Per Second. All Rights Reserved.</b>
    </div>
</footer>