<% layout("layouts/boilerplate") %>
    <div class="container">
        <h1>Upcoming Shows</h1>
        <table class="table table-sm align-middle">
            <thead class="table-dark">
                <tr>
                    <th class="col-1" scope="col">Date</th>
                    <th class="col-6" scope="col">Venue</th>
                    <th class="col-1" scope="col">Location</th>
                    <th class="col-2" scope="col">Tickets</th>
                </tr>
            </thead>
            <tbody>
                <% for (let gigdate of gigdates) { %>
                    <tr>
                        <td>
                            <%= gigdate.date %>
                        </td>
                        <td>
                            <b>
                                <%= gigdate.venue %>
                            </b>
                        </td>
                        <td>
                            <%= gigdate.location %>
                        </td>
                        <td>
                            <a href="<%= gigdate.ticketstore %>">
                                <button class="btn btn-primary btn-lg">Tickets</button>
                            </a>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>