<% layout("layouts/boilerplate") %>

    <div id="putTheWidgetHere"></div>
    <script type="text/javascript">
        SC.oEmbed('https://soundcloud.com/forss/sets/soulhack', {
            element: document.getElementById('putTheWidgetHere')
        });
    </script>

    <script src="https://connect.soundcloud.com/sdk/sdk-3.3.2.js"></script>
    <script>
        SC.initialize({
            client_id: 'YOUR_CLIENT_ID',
            redirect_uri: 'https://example.com/callback'
        });
    </script>