<% layout("layouts/boilerplate") %>
    <div class="container">
        <h1>Add new Show</h1>
        <form action="/shows" method="POST">
            <div class="col-sm-6">
                <div class="mb-1">
                    <label for="venue" class="form-label">Venue</label>
                    <input type="text" class="form-control" id="venue" name="show[venue]" placeholder="Club/Festival">
                </div>
                <div class="mb-1">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" id="location" name="show[location]"
                        placeholder="City/Country">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mb-1">
                    <label for="date" class="form-label">Date</label>
                    <input type="text" class="form-control" id="date" name="show[date]" placeholder="Date">
                </div>
                <div class="mb-3">
                    <label for="ticketstore" class="form-label">Ticketstore</label>
                    <input type="text" class="form-control" id="ticketstore" name="show[ticketstore]"
                        placeholder="Ticketsalelink">
                </div>
                <button class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>