<% layout("layouts/boilerplate") %>
<div class="container">
    <h1>Contact & Presskit</h1>
    <div class="row">
        <div class="col col-6">
            <div class="card" style="width: 35rem;">
                <div class="card-body">
                    <h5 class="card-title tw-bold text-decoration-underline">Contact</h5>
                    <p class="card-text">
                        <p>
                            booking@damagepersecond.de </p>
                </div>
                <div class="card-body">
                    <a href="#" class="btn btn-sm btn-primary">Techrider</a>
                </div>
            </div>
        </div>
        <div class="col col-6">
            <div class="card mb-3" style="width: 35rem;">
                <div class="card-body">
                    <h5 class="card-title tw-bold text-decoration-underline">Bio</h5>
                    <p class="card-text">Es gibt gute Jahre: 2016 und 2017 waren gute Jahre für DAMAGE PER SECOND.
                        Damals noch als JANARA
                        unterwegs, supporteten sie die Emil Bulls in deren Heimatstadt München, standen bei
                        Emergenza
                        im
                        Finale, veröffentlichten eine EP, spielten jede Menge Shows und StarFM nannte sie „den
                        besten
                        Berliner Export seit langer Zeit“.
                        Und es gibt weniger gute Jahre: Nach dem Ausstieg des Schlagzeugers und der Trennung von
                        ihrem
                        Sänger standen sie 2018 wieder ganz am Anfang. Neuer Name? Alter Name? Aufgeben? Hinwerfen?
                        Neustart?
                        2019. Neustart. Mit neuem Sänger, neuem Namen, neuem altem Schlagzeuger und dem unfassbaren
                        Bock
                        einer jungen Band, ihre Musik in die Clubs und Festivals des Landes zu treiben. Ihre neue
                        „Era“-EP wurde 02. August 2019 veröffentlicht.
                        Ihre Texte erzählen historische und mythische Überlieferungen aus vielseitigen Blickwinkeln,
                        denen die
                        fünf
                        Musiker mithilfe von Stilmitteln aus den unterschiedlichsten Genres neues Leben einhauchen.
                        Es entsteht Post-Hardcore, der sich gerne über seine Genregrenzen hinweg bewegt, um den
                        Songs
                        die
                        Atmosphäre und Kopfkinowirkung zu verleihen, die die Band in ihrer Musik zum zentralen
                        Element
                        erklärt hat. So springt die Musik von sphärischen, raumfüllenden Parts zu brachialen
                        aggressiven
                        Riffs mit druckvollem Bass und einem Trommelfeuer vom Schlagzeug nur um im nächsten Moment
                        in
                        sich
                        zusammenzufallen und einer dramatischen, fast melancholischen Stimmung den Weg zu bereiten.
                        Kopfkino der feinsten Sorte, das man gehört haben muss, um die ganze Tragweite von DAMAGE
                        PER
                        SECOND
                        in vollen Zügen erfassen und zu genießen zu können.</p>
                </div>
            </div>
        </div>
    </div>
</div>