<% layout("layouts/boilerplate") %>
<div class="d-flex justify-content-center background-banner">
    <h1 class="align-self-center text-white backbanner-text">MEDIA</h1>
</div>
<div class="flex-row mt-5">
    <div class="row mb-5">
        <div class="col text-white">
            <p>Pictures</p>
            <img class="img-fluid" src="/media/DPS_live.jpg">
        </div>
        <div class="row">
            <div class="col text-white">
                <p>Video</p>
            </div>
        </div>
    </div>
</div>