<% layout("layouts/boilerplate") %>
<div class="container">
    <div class="row">
        <h1>Media</h1>
        <div class="col">
            <p>Pictures</p>
        </div>
        <div class="col">
            <p>Video</p>
        </div>
    </div>
</div>