/* General Styles */

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    overscroll-behavior: none;
}

.background-banner {
    background-image: url("https://res.cloudinary.com/dpspx/image/upload/v1637407277/DPS_Static_Images/Backbanner_apjaec.jpg");
    background-size: cover;
    background-attachment: scroll;
    background-position: center top;
    background-repeat: no-repeat;
    height: 20em;
    min-height: 250px;
    z-index: 10;
    overscroll-behavior: none;
}

.backbanner-text {
    color: white;
    text-shadow: 2px 2px 25px black;
    text-decoration: overline;
    font-family: 'Noto Sans JP', sans-serif;    
    font-weight: 300;
    font-size: 4em;
    z-index: 10;
    line-height: 1.6em;
}

.background {
    background-image: url("https://res.cloudinary.com/dpspx/image/upload/v1637420858/DPS_Static_Images/Background_ysmjkf.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    position: absolute;
    min-height: 70vh;
    z-index: 1;
    overscroll-behavior: none;
}

.form-block {
    background-color: rgba(128, 166, 158, 0.1);
    border: solid;
    border-radius: 2%;
    min-width: 23em;
}

.custom-button {
    color: white;
    background-color: rgba(51, 89, 82, 0.3);
    border: 3px solid;
    border-color: #335952;
    border-radius: 0%;
}

.custom-button:hover {
background-color: #335952;
border-color: #335952;
}

/* Login Styles */

.login-box {
    height: 49.2vh;
}

/* Home Styles */

.home-background {
    background-image: url("https://res.cloudinary.com/dpspx/image/upload/v1637408169/DPS_Static_Images/Home_Background_tjwajq.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    height: 100vh;
    overscroll-behavior: none;
}

/* Navbar Styles */

.navbar {
    z-index: 10;
    background: rgba(0, 0, 0, 0.2);
}

/* Show Styles */

.gig-entry {
    border-bottom: 1px solid rgba(128, 166, 158, 0.5);
}

.gig-entry:first-of-type {
    border-top: 1px solid rgba(128, 166, 158, 0.5);
}

.gig-entry:hover {
    background-color: rgba(128, 166, 158, 0.1);
}

.admin-button {
    min-width: 80px;
    border-radius: 0%;
}

/* Footer Styles */

#footer {
    background-color: black;
    position: sticky;
    top: inherit;
}

#footer-logo {
    max-width: 12em;
    height: 10em;
}

#icons {
    font-size: 1.7em;
}

/* Record Styles */

.record-cover {
    max-height: 27em;
    box-shadow: 0 0 4em black;
}

/* Music Styles */

.image-list {
    height: 18em;
    box-shadow: 0 0 2em black;
}

/* Media Styles */

.zoomed-img {
    height: 37em;
    box-shadow: 0 0 6em 7em black;
}

.modal-backdrop.show {
    display: none;
}