<% layout("layouts/boilerplate") %>
    <div class="container">
        <h1>Records</h1>
        <div class="row">
            <% for (let record of records) { %>
                <div class="col-lg-3 mb-5">
                    <a href="/music/<%= record._id %>">
                        <img src="<%= record.cover %>" height="250" alt="<%= record.name %>">
                    </a>
                </div>
                <% } %>
        </div>

        <!-- <div id="putTheWidgetHere"></div>
    <script type="text/javascript">
        SC.oEmbed('https://soundcloud.com/forss/sets/soulhack', {
            element: document.getElementById('putTheWidgetHere')
        });
    </script>

    <script src="https://connect.soundcloud.com/sdk/sdk-3.3.2.js"></script>
    <script>
        SC.initialize({
            client_id: 'YOUR_CLIENT_ID',
            redirect_uri: 'https://example.com/callback'
        });
    </script> -->