<div class="background">
    <% layout("layouts/boilerplate") %>
    <%- include("../partials/navbar") %>
    <div class="d-flex justify-content-center background-banner">
        <h1 class="align-self-center text-center backbanner-text">RECORDS</h1>
    </div>
    <div>
        <% if(isLoggedIn) { %>
        <div class="d-flex justify-content-center mt-3">
            <a href="shows/new">
                <button class="btn btn-primary">New</button>
            </a>
        </div>
        <% } %>
    </div>
    <div class="text-center">
        <div class="container">
            <% for (let record of records) { %>
            <div class="d-inline-flex m-4">
                <a href="/music/<%= record._id %>">
                    <img src="<%= record.cover %>" alt="<%= record.name %>" class="image-list">
                </a>
            </div>
            <% } %>
        </div>
    </div>
</div>